<div ng-controller="MushroomController">
  <h2>These are the mushrooms!</h2>
  <label>
    <input type="radio" ng-click="showEdible" ng-model="mushroomEdible" value="true"> Non-Poisonous

    <input type="radio" ng-click="showNotEdible" ng-model="mushroomEdible" value="false"> Poisonous

    <ul ng-show="isEdible">
      <li ng-repeat="mushrooms in mushroomList | filter:search:mushrooms" >
      {{mushrooms.name}}:<br>{{mushrooms.description}}}<br>It is {{mushrooms.edible}} 
      </li>
    </ul>
  </label>
  <label>
    <ul ng-show="notEdible">
    <li ng-repeat="mushrooms in mushroomList | filter:search:mushrooms">
      {{mushrooms.name}}:<br>{{mushrooms.description}}}<br>It is {{mushrooms.edible}} that they are edible!
    </li>
  </ul>
  </label>
</div>


<!-- <div ng-controller="MushroomController">
  <h2>These are the mushrooms!</h2>
   <input type="radio" value="Poisonous" name="Poisonous" ng-click=""> Poisonous
   <input type="radio" value="Non-Poisonous" ng-click="">Non-Poisonous 
  <ul>
    <li ng-repeat="mushrooms in mushroomList">
      {{mushrooms.name}}:<br>{{mushrooms.description}}}<br>It is {{mushrooms.edible}} that they are edible!
    </li>
  </ul>
</div> -->



